.bubblesee {
	background-color: #222;
	padding: 3px 10px;
	font-size: 0.815em;
	color: #fff;
	position: absolute;
	top: 0; left: 0;
	border-radius: 3px;
	opacity: 0;
	z-index: 9999999;

	&.bubblesee__visible {
		opacity: 1;
		transition: opacity 0.3s;
	}

	&.bubblesee__toTop {
		transform: translateY(10px);
		transition: opacity 0.3s, transform 0.3s;

		&.bubblesee__visible {
			transform: translateY(0px);
		}
	}

	&.bubblesee__rotate {
		transform: rotateX(90deg);
		border-radius: 100px 100px 3px 3px;
		transition-origin: 50% 100%;
		transition: opacity 0.3s, transform 0.3s, border-radius 0.15s;

		&.bubblesee__visible {
			border-radius: 3px;
			transform: rotateX(0deg);
		}
	}

	&.bubblesee__scale {
		transform: scale(0);
		transition-origin: 50% 100%;
		transition: opacity 0.3s, transform 0.3s;

		&.bubblesee__visible {
			transform: scale(1);
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -6px;

		border-top: 6px solid #222;
		border-bottom: 6px solid transparent;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
	}

	&.bubblesee__bottom::after {
		top: auto!important;
		bottom: 100%!important;

		border-top-color: transparent;
		border-bottom-color: #222;
	}
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

a {
	z-index: 30;
}